.answer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: wheat;
    color: rgb(43, 43, 43);
}

html{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: 1px;
    background-color: wheat;
    color:rgb(43, 43, 43);
}
body{
    margin: 0px
}

.jumbo{
    padding: 2%;
    margin: 1%;
}

#workspace1{
    background-color: rgb(43, 42, 42);
    color: rgb(228, 227, 227);
    padding: 2%;
    margin: 1%;
    border-radius: 4px;
}

.anSpace{
    background-color: rgb(43, 42, 42);
    color: rgb(228, 227, 227);
    padding: 2%;
    margin: 1%;
    border-radius: 4px;
    align-items: center;
}
textarea:focus, .btn:focus, input:focus{
    outline: none;
    box-shadow: none;
}
#ans_3, #ans_4{
    color: rgb(247, 51, 142);
}
     
code{
    font-family:'Courier New', Courier, monospace ;
    /* background-color: grey; */
    padding: 2px;
    /* border-radius: 3px; */
    color: rgb(109, 109, 109);
}
 
table,thead, tbody, tr, th, td{
    border: none;
}
tr{
    background-color:rgb(99, 99, 99);
    color:rgb(228, 227, 227)
}
tr:nth-child(odd){
    background-color:aliceblue;
    color:rgb(43, 42, 42)
}
input{
    width: 100%;
    margin: 1%;
}
footer{
    background-color: rgb(43, 42, 42);
    width: 100%;
    color: #b9b8b8;
    padding: 10px;

}
footer h6{
    color: white;
}
.foot-card{
margin: 5%;
padding: 3%;
border-left: #b9b8b8 1px solid;
min-height: 10vh;
}

.foot-card p{
font-size: small;
}

.foot-card a{
    color:#585858 ;
}
.foot-card a:hover{
    color:#e4e4e4
}
nav{
    background-color:rgb(43, 42, 42);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: wheat;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .calculator-body{
      min-height: 60vh;
      background-color:rgb(43, 42, 42);
      padding: 3%;
      margin: 2%;
      box-shadow:rgb(43, 42, 42) 2px 5px 8px;
      border-radius: 10px;
      min-width: 50vh;
     
      
  }

  .cal-io{
    height: 50px;
    background-color:rgb(250, 213, 144);
    margin: 2%;
    padding: 2%;
    box-shadow:#585858 2px 5px 8px ;
    border-radius: 6px;
  }

  .btn{
      height:70px;
      width: 70px;
      border-radius: 50%;
      margin: 1%;
  }
  .cal-workspace{
      padding: 3%;
      margin: 1%;
      

  }
  .cal-num{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      color:rgba(61, 61, 61, 0.884);
  }
  .cal-methods{
      display: flex;
      flex-direction: column;
    
  }